
<footer>
    <div class="menu-green">
        <div class="container">
            <div class="row footer-row">
                <div class="col-md-3">
                    <h6>About GreenLight</h6>
                    <ul>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Fundraising Ideas", "About", "Home")</li>
                        <li>@Html.ActionLink("Terms of Use", "About", "Home")</li>
                        <li>@Html.ActionLink("Privacy Policy", "About", "Home")</li>
                        <li>@Html.ActionLink("Pricing", "About", "Home")</li>
                    </ul>
                    
                    
                </div>
                <div class="col-md-3">
                    <h6>Campaigns</h6>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                   
                </div>
                <div class="col-md-3">
                    <h6>Categories</h6>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    
                </div>

                <div class="col-md-3">
                    <h6>Follow Us</h6>
                    <ul>
                       <li><span class="glyphicon glyphicon-facetime-video"></span> @Html.ActionLink("Facebook", "About", "Home")</li>
                       <li><span class="glyphicon glyphicon-facetime-video"></span> @Html.ActionLink("Twitter", "About", "Home")</li>
                       <li><span class="glyphicon glyphicon-facetime-video"></span> @Html.ActionLink("Google+", "About", "Home")</li>
                    </ul>

                </div>
            </div>
        </div>
        <p>&copy; @DateTime.Now.Year - GreenLight Inc.</p>
    </div>
    
</footer>